.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #efefef;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: red;
  float: right;
  font-size: 40px;
  height: 30px;
  width: 30px;
  transition: 0.3s;
  justify-content: center;
  align-items:center;
}

.close:hover {
  color: darkred;
  cursor:pointer;
  scale: 1.3;
  transition: 0.3s;
}
